footer{
    color: $color2;
    padding: 60px 0 30px 0;
    margin: auto;
    color: $color3;
    overflow: hidden;
    p {
        display: flex;
        width: 90%;
        color: $color5;
        justify-content: space-evenly;
        margin: auto;
        padding-bottom: 50px;
        border-bottom: 1px solid $color4;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
}