@import url(https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@800&display=swap);

$fontAlegreya: 'Alegreya Sans SC',
sans-serif;

$color1: #183d6d;
$color2: #2b16ecbe;
$color6: #03031675;
$color4: #0d033b;
$color5: #171717;
$color6: #EEEEEE;
$color7: #07bd07;
$color8: #1905c983;
$color9: #18037785;
$color10: #2688c9;
$color11: #ecd60de7;
$color12: #0d033ba8;
